*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
button{
  background-color: chartreuse;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  width: 70px;
}
button:hover{
  background-color: black;
  color: chartreuse;
  font-size: 22px;
}
body{
  background-image: url(sistema-codigo-binario.png);
  display: grid;
  justify-content: center;
  align-items: center;
}
h1, p{
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
}